.object-card {
    width: 170px;
    margin: 5px;
    vertical-align: top;
    display: inline-block;
}

.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: none;
}

hr {
    height: 1px;
    color: #AAAAAA;
    background-color: #AAAAAA;
    border: none;
}
