{% extends "base.html" %}
{% block content %}
<style>
#object-card-holder > div {
    float: left;
}

    .object-card {
        width: 200px;
        height: 400px;
        margin: 15px;
    }

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    hr {
        height: 1px;
        color: #AAAAAA;
        background-color: #AAAAAA;
        border: none;
    }
</style>

<div id="object-card-holder">
    {% for o in objects %}
    <div class="object-card card">
        <h5 style="margin-left: 10px; margin-top: 10px;">{{ o.name }}</h5>

        <hr size="2px" style="margin-bottom: 10px">
        <b style="margin-left: 10px">Status</b>
        <hr size="2px" style="margin-top: 10px">

        <div class="card-content" style="padding: 5px">
            {% for s in o["sensors"]%}
            <div class="row" style="margin-bottom: 5px">
                <p class="col s10" style="font-size: auto">{{s.name}}:</p>
                <p class="col s2" id="{{ o.id }}{{ s.id }}"><b>{{ s.value }}</b></p>
            </div>
            {% endfor %}
            {% for a in o["actuators"]%}
            <div class="row" style="margin-bottom: 5px">
                <p class="col s10" style="font-size: auto">{{a.name}}:</p>
                <p class="col s2" id="{{ o.id }}{{ a.id }}"><b>{{ a.value }}</b></p>
            </div>
            {% endfor %}
        </div>

        <hr size="2px" style="margin-bottom: 10px">
        <b style="margin-left: 10px">Acties</b>
        <hr size="2px" style="margin-top: 10px">

        <div class="card-content">
            {% for i in o["buttons"] %}
            <button class="btn green btn-small" onclick="onButtonClick({{o.id, i.item_id}})">{{ i.text }}</button>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<div id="notifications" class="modal">
    <div class="modal-content">
        <h4>Notificaties</h4>
        <div id="notification-holder">
            
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn" 
            style="width: 100%" 
            onclick="clearNotifications()">
            Sluiten
        </a>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function onButtonClick(id, item_id) {

    }

    function pollNotifications(id) {
        $.ajax({
            url:"/api/interface_notifications?not_id=" + id,
            timeout: 10000,
            success: function(data) {
                console.log(data);
                data = JSON.parse(data);
                for (var i = 0; i < data.length; i++) {
                    if (data[i].id == 0) {
                        $("<p class=\"flow-text white-text\" style=\"background: red\">" 
                            + data[i].time + " | " + data[i].message + "</p>").appendTo("#notification-holder");
                    } else {
                        $("<p class=\"flow-text white-text\" style=\"background: blue\">" 
                            + data[i].time + " | " + data[i].message + "</p>").appendTo("#notification-holder");
                    }
                }
                if (data.length > 0) {
                    var elem = document.getElementById("notifications");
                    var instance = M.Modal.getInstance(elem);
                    instance.open();
                    pollNotifications(data[data.length - 1]["not_id"]);
                } else {
                    pollNotifications(id);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.status + "," + textStatus + ", " + errorThrown);
                pollNotifications(id);
            }
        });
    }
    pollNotifications({{last_not_id}});

    function clearNotifications() {
        $("#notification-holder").empty();
    }
</script>
{% endblock %}
