{% extends "base.html" %}
{% block content %}
<style>
.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}

.red-button {
	box-shadow: 0px 2px 6px 0px #000000;
	background:linear-gradient(to bottom, #f50505 5%, #ff5900 100%);
	background-color:#f50505;
	border-radius:150px;
	border:2px solid #9c2232;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: calc(100% + 1vw);
	padding:32px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #010300;
    height: 30vw;
    width: 30vw;
    max-width: 250px;
    max-height: 250px;
}
.red-button:hover {
	background:linear-gradient(to bottom, #ff5900 5%, #f50505 100%);
	background-color:#ff5900;
}
.red-button:active {
	position:relative;
	top:2px;
}


.green-button {
	box-shadow: 0px 2px 6px 0px #000000;
	background:linear-gradient(to bottom, #05f505 5%, #59ff00 100%);
	background-color:#05f505;
	border-radius:150px;
	border:2px solid #229c32;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: calc(100% + 1vw);
	padding:32px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #010300;
    height: 30vw;
    width: 30vw;
    max-width: 250px;
    max-height: 250px;
}
.green-button:hover {
	background:linear-gradient(to bottom, #59ff00 5%, #05f505 100%);
	background-color:#59ff00;
}
.green-button:active {
	position:relative;
	top:2px;
}

td {
    text-align: center;
}
</style>
<table>
    <tr>
        <td>
            <button class="green-button">LICHT 1</button>
        </td>
        <td>
            <button class="green-button">LICHT 2</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="red-button">HELP</button>
        </td>
        <td>
            <button class="red-button">NAAR BUITEN</button>
        </td>
    </tr>
</table>
{% endblock %}
